@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&family=Playfair+Display:wght@400;600;700;800;900&family=Assistant:wght@300;400;600;700;800&display=swap');



@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
   
    @apply font-sans antialiased;
    direction: rtl;
  }
}

@layer utilities {
  .text-gradient {
    @apply bg-gradient-to-r from-primary-600 to-gold-500 bg-clip-text text-transparent;
  }
}